main{
    width: 80%;
    margin: auto;
    background-color: rgba(255, 235, 205, 0.709);
    border-radius: 5px;

    
}
body{
    background-image:url(hatter.png) ;
}
header{
    background-image:url(fejlec.jfif) ;
    color: white;
    padding: 5px;
}
aside{
    padding: 5px;
}
#tartalom{
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-between;
}
h2{
    border-bottom: 3px solid black;
}
.diak {
    border: 1px dotted black;
    border-radius: 15px;
    padding: 5px;
    flex: 0 0 calc(28% - 10px );
    align-self: flex-start;

}

footer{
    border-top: 1px solid black;
    text-align: center;
    padding: 5px;

}


@media screen (){
    
}